<?php
return [
    "aws" => [
        'key' => '',
        'secret' => '',
        'region' => "us-east-1",
    ],
    "components" => [
        "Authentication",
        "Barcode",
        "Cache",
        "Captcha",
        "Code",
        "Config",
        "Console",
        "Crypt",
        "Db",
        "Debug",
        "Di",
        "Dom",
        "Escaper",
        "EventManager",
        "Feed",
        "File",
        "Filter",
        "Form",
        "Http",
        "I18n",
        "InputFilter",
        "Json",
        "Ldap",
        "Loader",
        "Log",
        "Mail",
        "Math",
        "Memory",
        "Mime",
        "ModuleManager",
        "Mvc",
        "Navigation",
        "Paginator",
        "Permissions",
        "ProgressBar",
        "Serializer",
        "Server",
        "ServiceManager",
        "Session",
        "Soap",
        "Stdlib",
        "Tag",
        "Test",
        "Text",
        "Uri",
        "Validator",
        "Version",
        "View",
        "XmlRpc",
    ]
];
